@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-dark: #0c0c0c;
  --color-dark-card: #000000;
  --color-footer: #171717;
  --color-purple: #603ee9;
  --color-purple-light: #7f5fff;
  --color-purple-dark: #371c76;
  --color-gray: #808080;
  --color-gray-light: #eaeaea;
  --color-gray-dark: #212121;
  --color-green: #87fe87;
  --color-gradient-pink: #fd8cee;
  --color-gradient-peach: #ffdcad;
  --color-gradient-purple: #9565f5;
  --color-gradient-magenta: #c072ff;
  --font-sans: var(--font-dm-sans);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
